In [4]:
                                      # Numbers
'''
/ = classic division returns a float
// = floor division 

'''

# complex numbers always have a 'j' or 'J'
z = 1+5j
type(z)

complex

In [21]:
# cool tricks
a = 'hhhhhhhh'
print('this is a string: ', end=  '')
print(a)

this is a string: hhhhhhhh

In [22]:
# cool tricks, you can do as much as you want
a = 30
print('these are numbers: ', end=  '')
print(a,z,b)

these are numbers: 30 (1+5j) 20.44

In [14]:
# the last printed expression is assigned to the variable '_' 
a = 30
b = 10
a + b #You have to print it out first

40

In [15]:
a + _ # it works

70

In [17]:
# converting Numbers, note you can not convert a complex type to another number type
a = 3
b = 20.44
c = 134 + 7J
int(b)

20

In [18]:
float(a)

3.0

In [19]:
complex(b)

(20.44+0j)

In [25]:
                                        # Strings
# You can assign a multiline string to a variable by using three quotes:
a = """Lorem ipsum dolor sit amet
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [29]:
# the strip method removes any white spaces form the beginning or the end
a =  " Ruth Ovuike "
print(a.strip())

Ruth Ovuike

In [30]:
# the replace method
print(a.replace('O',"L"))

 Ruth Lvuike

In [33]:
# The split() method splits the string into substrings if it finds instances of the separator
print(a.split(","))

[' Ruth Ovuike ']

In [34]:
# Check if the phrase "uik" is present in the following text
z = 'uik' in a
print(z)

True

In [35]:
# Check if the phrase "ain" is NOT present in the following text
x = 'ain'not in a
print(x)

True

In [2]:
# The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are
txt = 'My name is ruth and I am {} '
age = 20
print(txt.format(age))

My name is ruth and I am 20

In [3]:
# The format() method takes unlimited number of arguments, and are placed into the respective placeholders
item = 'apples'
price = '$25'
quantity = '44'
myorder = "I want to pay {} dollars for {} pieces of {}."
print(myorder.format(price,quantity,item))

I want to pay $25 dollars for 44 pieces of apples.

In [4]:
# You can use index numbers {0} to be sure the arguments are placed in the correct placeholders
item = 'apples'
price = '$25'
quantity = '44'
myorder = "I want to pay {1} dollars for {2} pieces of {0}."
print(myorder.format(item,price,quantity))

I want to pay $25 dollars for 44 pieces of apples.

In [6]:
'''
To insert characters that are illegal in a string, use an escape character.
An escape character is a backslash \ followed by the character you want to insert.
An example of an illegal character is a double quote inside a string that is surrounded by double quotes:
'''
txt = "We are the so-called \"Vikings\" from the north."
txt

'We are the so-called "Vikings" from the north.'

In [12]:
# Other escape characters used in Python:

# \' : Single Quote
# \\ : Backslash
# \n : New Line
# \r : Carriage Return
# \t : Tab
# \b : Backspace
# \f : Form Feed
# \ooo : Octal value
# \xhh : Hex value

# Backslash
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [17]:
# New line
txt = 'Apple\nPie'
print(txt)

Apple
Pie

In [20]:
# raw text
txt = r'C:\Users\wisdom ovuike'
print(txt)

C:\Users\wisdom ovuike

In [23]:
# Carriage return
txt = 'Ruth\rOvuike'
print(txt)

Ovuike

In [25]:
# tab
txt = 'Apple\tCider'
print(txt)

Apple	Cider

In [37]:
# Back space
txt = 'R \bu \bt \bh'
print(txt)

R u t h

In [31]:
# Format examples
'{}, {}, {}'.format('a','b','c')

'a, b, c'

In [32]:
'{1}, {0}, {2}'.format('a','b','c')

'b, a, c'

In [34]:
'{}, {}, {}'.format(*'abc') # use * for all tuples, unpackaging tuples

'a, b, c'

In [36]:
'{0}{1}{0}'.format('abra', 'cad')   # arguments' indices can be repeated

'abracadabra'

In [40]:
# Accessing arguments by name
'Number of groups: {boys},{gilrs},{other}'.format(boys = 10, gilrs = 12, other = 33)

'Number of groups: 10,12,33'

In [43]:
info = {'name': 'Ruth', 'age':'20'}
'Her name is {name} and she is {age}'.format(**info)

'Her name is Ruth and she is 20'

In [44]:
# Using the comma as a thousands separator
'{:,}'.format(250654)

'250,654'

In [45]:
# Expressing a percentage
pionts = 12
total = 29
'Percentage: {:.2%}'.format(pionts/total)

'Percentage: 41.38%'

In [133]:
name = 'Frank'
f'He said his name is {name!r}.'

"He said his name is 'Frank'."

In [49]:
f'He said his name is {repr(name)}'

"He said his name is 'Frank'"

In [88]:
                                       # String Methods
#1 Capitalize() = Converts the first character to upper case
#2 Casefold() = Converts string into lower case, stronger than lower()
#3 Center() = Returns a centered string
#4 Count() = Returns the number of times a specified value occurs in a string
#5 Encode() = Returns an encoded version of the string
#6 Endswith() = Returns true if the string ends with the specified value
#7 Expandtabs() = Sets the tab size of the string
#8 Find() = Searches the string for a specified value and returns the position of where it was found
#9 Format() = Formats specified values in a string
#10 Format_map() = Is used to return an dictionary key's value
#11 Index() = Searches the string for a specified value and returns the position of where it was found
#12 Isalnum() = Returns True if all characters in the string are alphanumeric
#13 Isalpha() = Returns True if all characters in the string are in the alphabet
#14 Isdecimal() = Returns True if all characters in the string are decimals
#15 Isdigit() = Returns True if all characters in the string are digits
#16 Isidentifier() = Returns True if the string is an identifier
#17 Islower() = Returns True if all characters in the string are lower case
#18 Isnumeric() = Returns True if all characters in the string are numeric
#19 Isprintable() = Returns True if all characters in the string are printable
#20 Isspace() = Returns True if all characters in the string are whitespaces
#21 Istitle() = Returns True if the string follows the rules of a title
#22 Isupper() = Returns True if all characters in the string are upper case
#23 Join() = Joins the elements of an iterable to the end of the string
#24 Ljust() = Returns a left justified version of the string
#25 lower() = Converts a string into lower case
#26 lstrip() = Returns a left trim version of the string
#27 Maketrans() = Returns a translation table to be used in translations
#28 Translate() = Returns a translated string
#29 Replace() = Returns a string where a specified value is replaced with a specified value
#30 Partition() = Returns a tuple where the string is parted into three parts
#31 Split() = Splits the string at the specified separator, and returns a list
#32 Rpartition() = Returns a tuple where the string is parted into three parts
#33 Rsplit() = Splits the string at the specified separator, and returns a list
#34 Splitlines() = Splits the string at line breaks and returns a list
#35 title() = Converts the first character of each word to upper case
#36 upper() = Converts a string into upper case
#37 zfill() = Fills the string with a specified number of 0 values at the beginning
#38 strip() = Returns a trimmed version of the string
#39 rstrip() = Returns a right trim version of the string
#40 swapcase() = Swaps cases, lower case becomes upper case and vice versa
#41 startswith() = method returns True if the string starts with the specified value, otherwise False
#42 rfind() = Searches the string for a specified value and returns the last position of where it was found
#43 rindex() = Searches the string for a specified value and returns the last position of where it was found
#44 rjust() = Returns a right justified version of the string

In [55]:
#1 The capitalize() method returns a string where the first character is upper case.
'ruth'.capitalize()

'Ruth'

In [56]:
#2 The casefold() method is stronger, more aggressive, meaning that it will convert more characters into lowercase
'I LOVE HIM'.casefold()

'i love him'

In [66]:
#3 Center()	print the word "banana", taking up the space of 39 characters, with "banana" in the middle
# String.center(length, character) 
'banana'.center(39)
'ruth'.center(24, '1')

'1111111111ruth1111111111'

In [58]:
#4 Count(), string.count(value, start, end) 
txt = 'I am so happy today'
a = txt.count('a')
a

3

In [59]:
txt = 'wewwbtwwkf'
b = txt.count('w',3,-1)
b

3

In [69]:
#6 String.endswith(value, start, end)  
txt = r'C:\Users\wisdom ovuike'
txt.endswith('wisdom',9,15)

True

In [74]:
#7 Expandtabs(), string.expandtabs(tabsize), tabs default is 8 spaces 
'w\te\tl\tc\to\tm\te\t'.expandtabs(1)

'w e l c o m e '

In [83]:
'1\t22\t333\t4444\t55555\t666666\t7777777\t88888888\t999999999\t'.expandtabs(9)

'1        22       333      4444     55555    666666   7777777  88888888 999999999         '

In [84]:
#8 The find() method finds the first occurrence of the specified value.
# The find() method returns -1 if the value is not found.
# The only difference is that the index() method raises an exception
# String.find(value, start, end)
txt = 'Picture perfect you do\'nt need no filter'
txt.find('e')

6

In [86]:
txt.find('i',5,24)

-1

In [89]:
#9 The placeholder is defined using curly brackets: {} 
# String.format(value1, value2...)
'My name is {} and I am {} and I live in {}'.format('Robin',25,'Dublin')

'My name is Robin and I am 25 and I live in Dublin'

In [90]:
'My name is {1} and I am {0} and I live in {2}'.format(39,'Jack','NY')

'My name is Jack and I am 39 and I live in NY'

In [91]:
'My name is {fname} and I am {age} and I live in {live}'.format(fname = 'Mary',age = 99, live = 'Italy')

'My name is Mary and I am 99 and I live in Italy'

In [92]:
# Formatting Types, numbers
#1 :< = Left aligns the result (within the available space)
#2 :> = Right aligns the result (within the available space)
#3 :^ = Center aligns the result (within the available space)
#4 := = Places the sign to the left most position
#5 :+ = Use a plus sign to indicate if the result is positive or negative
#6 :- = Use a minus sign for negative values only
#7 :, = Use a comma as a thousand separator
#8 :_ = Use a underscore as a thousand separator
#9 :f = Fix point number format
#10 :% = Percentage format

In [93]:
#1 Use "<" to left-align the value,we insert the number to set the available space.
txt = 'I ate {:<4} chocolate'
txt.format(11)

'I ate 11   chocolate'

In [99]:
#2 Use ">" to right-align the value
txt = 'I ate {:>4} chocolate'
txt.format(11)

'I ate   11 chocolate'

In [100]:
#3 Use "^" to center-align the value
txt = 'I ate {:^4} chocolate'
txt.format(11)

'I ate  11  chocolate'

In [105]:
#4 Use "=" to place the plus/minus sign at the left most position
txt = 'I ate {:=8} choclate'
txt.format(-11)

'I ate -     11 choclate'

In [108]:
#5 Use "+" to always indicate if the number is positive or negative
txt = 'The temp is between {:+} and {:+} degress'
txt.format(-3,7)

'The temp is between -3 and +7 degress'

In [110]:
#6 Use "-" to always indicate if the number is negative (positive numbers are displayed without any sign)
txt = 'The temp is between {:-} and {:-} degress'
txt.format(-3,-7)

'The temp is between -3 and -7 degress'

In [118]:
#7 Use "," to add a comma as a thousand separator:
txt = 'This is 13 billion and 80 million in f\'format: {:,}'
txt.format(13800000000)

"This is 13 billion and 80 million in f'format: 13,800,000,000"

In [116]:
#8 Use "_" to add a underscore character as a thousand separator
txt = 'This is 8 million and 250 thousand and 125 dollars in another way of f\'format: {:_}'
txt.format(8250125)

"This is 8 million and 250 thousand and 125 dollars in another way of f'format: 8_250_125"

In [124]:
#9 Use "f" to convert a number into a fixed point number 
# Default with 6 decimals, but use a period followed by a number to specify the number of decimals
'It was exactly {:.2f}'.format(24/5)

'It was exactly 4.80'

In [125]:
'It was exactly {:f}'.format(24/13) # defalut 6 fixed point number

'It was exactly 1.846154'

In [131]:
#10 Use "%" to convert the number into a percentage format
# defalut 6 fixed point number
'It was exacly {:.0%}'.format(15/20)

'It was exacly 75%'

In [5]:
                 # F-string vs format() vs % string formater
# Example 1: F-string
sentence = f"My name is {'Ruth'} and I am {20} years old"
sentence

'My name is Ruth and I am 20 years old'

In [3]:
fname = 'Tobbby'
lname = 'Smith'
sentence = f'My name is {fname}{lname}'
sentence

'My name is TobbbySmith'

fname = 'Tobbby\t'
lname = 'Smith'
sentence = f'My name is {fname.expandtabs(1)}{lname}'
print(sentence)

In [22]:
fname = 'Tobbby'
lname = 'Smith'
sentence = f'My name is {fname.upper()} {lname.upper()}'
print(sentence)

My name is TOBBBY SMITH

In [27]:
# Example 2: Format()
person = {'name':'mike','age': '20'}
sentence = 'His name is {name} and he is {age}'.format(**person)
sentence

'His name is mike and he is 20'

In [32]:
person = {'name':'Rose','age': 45}
sentence = 'Her name is {} and she is {}'.format(person['name'],person['age'])
sentence

'Her name is Rose and she is 45'

In [36]:
# Example 3: F-string
person = {'name':'Rose','age': 45}
sentence = f"Her name is {person['name'].upper()} and she is {person['age']}"
sentence

'Her name is ROSE and she is 45'

In [38]:
f'4 times is 11 is equal to {4*11}'

'4 times is 11 is equal to 44'

In [44]:
for i in range(1,11):
    print(f'The value is {i:04}') # zero pad in f-string

The value is 0001
The value is 0002
The value is 0003
The value is 0004
The value is 0005
The value is 0006
The value is 0007
The value is 0008
The value is 0009
The value is 0010

In [43]:
pi = 3.14159265
f'Pi is equal\t{pi:.3f}'.expandtabs(1)

'Pi is equal 3.142'

In [45]:
# F-string Types, numbers
#1 :< = Left aligns the result (within the available space)
#2 :> = Right aligns the result (within the available space)
#3 :^ = Center aligns the result (within the available space)
#4 := = Places the sign to the left most position
#5 :+ = Use a plus sign to indicate if the result is positive or negative
#6 :- = Use a minus sign for negative values only
#7 :, = Use a comma as a thousand separator
#8 :_ = Use a underscore as a thousand separator
#9 :f = Fix point number format
#10 :% = Percentage format
#11 :(how many timws you want to space)

In [56]:
#1
f'I ate {300:<8} chocolate bars'

'I ate 300      chocolate bars'

In [60]:
#2
f'I love to have {1000:>8}'

'I love to have     1000'

In [66]:
# Padding with nubers and or strings or other characters
f'I ate {300:G<8} chocolate bars'

'I ate 300GGGGG chocolate bars'

In [65]:
f'I love to have {1000:$>8}'# padding

'I love to have $$$$1000'

In [68]:
#3, padding
f'I have {34:*^8} apples in my bag'

'I have ***34*** apples in my bag'

In [70]:
#4
f'It was {-4:=4}degress outside'

'It was -  4degress outside'

In [73]:
f'It was {-4:*=4} degress outside'#padding

'It was -**4 degress outside'

In [75]:
#5
sentence = f'The temp was bwtween {7:+} and {-40:+} degress'
sentence

'The temp was bwtween +7 and -40 degress'

In [76]:
#6
sentence = f'The temp was bwtween {7:-} and {-40:-} degress'
sentence

'The temp was bwtween 7 and -40 degress'

In [77]:
#7
f'This is one thousand dollars and three hundrend dollars in f-strig format: {1300:,}'

'This is one thousand dollars and three hundrend dollars in f-strig format: 1,300'

In [79]:
#8
f'This is another way of having 400 million and 58 thousand and 135 dollars: {400058135:_}'

'This is another way of having 400 million and 58 thousand and 135 dollars: 400_058_135'

In [80]:
#9
f'{3.1415926:+.6f}'

'+3.141593'

In [82]:
f'{3.987:-.0f}'

'4'

In [87]:
f'{100/66:+.4f}' #classic devision

'+1.5152'

In [88]:
f'{100/66:+.0f}' #classic devision

'+2'

In [99]:
#10
i = f'{20/46:%}'
i

'43.478261%'

In [101]:
i = f'{20/46:.2%}'
i

'43.48%'

In [103]:
# Example 4: format(), rounding
pi = 3.1415926
precision = 3
print('{:.{}f}'.format(pi,precision))

3.142

In [107]:
# Example4: %s(old) vs format()(new)
s1 = 'dogs'
s2 = 'cats'
s3 = '%s and %s living together'%(s2.title(),s1)#old
s3

'Cats and dogs living together'

In [109]:
s4 = '{} and {} living together'.format(s1.title(),s2)#new
s4

'Dogs and cats living together'

In [112]:
#Example 4: Use format as a function
emailinfo = 'My email address is {email}'.format
emailinfo(email='ruthovuike@gmail.com')

'My email address is ruthovuike@gmail.com'

In [114]:
# set user preferred format
numformat = '{:,}'.format
# use elsewhere
numformat(900234567)

'900,234,567'

In [118]:
numformat = '{:.4f}'.format
numformat(20/3)

'6.6667'

In [120]:
numformat = '{:G>8}'.format
numformat(2)

'GGGGGGG2'

In [121]:
print('The {} set is normally represnted by {{0}}'.format('empty'))

The empty set is normally represnted by {0}

In [122]:
word = 'empty'
f'The {word} set is normally represnted by {{0}}'

'The empty set is normally represnted by {0}'

In [19]:
#11
print("This is {:10} and cool".format('amazing'))#strings move to the left

this is amazing    and cool

In [20]:
print("There is {:10} apples".format('11'))#strings move to the left

There is 11         apples

In [21]:
print("There is {:10} apples".format(11))#integers move to the right

There is         11 apples

In [32]:
info =[
    ['Mary', 44 ,'New York','Doctor'],
    ['Alex', 65 ,'New Jersey','Buisness Man'],
    ['Peter',21 ,'Los Angeles','Chief'],
    ['Lily', 33, 'Florida', 'Swimmer'],
]
row = "| {name:6} | {age:2} | {city:12} | {work:12} |".format
for i in info:
    print(row(name=i[0], age=i[1], city=i[2], work=i[3]))

| Mary   | 44 | New York     | Doctor       |
| Alex   | 65 | New Jersey   | Buisness Man |
| Peter  | 21 | Los Angeles  | Chief        |
| Lily   | 33 | Florida      | Swimmer      |

In [38]:
# Example 5, Any inner curly braces as placeholders in a f-string are Python run-time !!!
def multiply(num):
      return num*num
f'26 muliplied by it self is: {multiply(26)}'

'26 muliplied by it self is: 676'

In [5]:
#10 format_map()
def phoneinfo(a,b,c,d):
    f = {'missedcalls': a, 'missedmesg':b, 'callsmade': c, 'mesgmade':d}
    print('I have {missedcalls} missed calls, {missedmesg} missed messages, I made {callsmade} calls and {mesgmade} messages'.format_map(f))
phoneinfo(3,4,5,6)

I have 3 missed calls, 4 missed messages, I made 5 calls and 6 messages

In [10]:
#11 method finds the first occurrence of the specified value
word = 'Ruth Ovuike'
word.index('th O',0,6)

2

In [11]:
# Index() vs Find() vs In
# find() method returns -1 if the value is not found
# In returns false if the value is not find but dosnet give you position index
# Index returns a error which breaks your code
word.find('z')

-1

In [12]:
'z'in word

False

In [13]:
#12 - #22
#12 isalnum(),returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9), no spaces or !@#$%
word = 'Ruth Ovuike'
word.isalnum()

False

In [17]:
word = '20'
word.isalnum()

True

In [18]:
#13 isalpha() method returns True if all the characters are alphabet letters (a-z)
num = '12'
num.isalpha()

False

In [19]:
#15 isdigit() method returns True if all the characters are digits, otherwise False
'2345'.isdigit()

True

In [23]:
#16 isidentifier() method returns True if the string is a valid identifier
#A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_)
#Cannot start with a number, or contain any spaces.
txt = 'Ruth Smith'
txt.isidentifier()

False

In [24]:
'2Ruth'.isidentifier()

False

In [26]:
#17 islower() method returns True if all the characters are in lower case, otherwise False
'Kenny'.islower()

False

In [27]:
'123'.islower()

False

In [28]:
'ruth20'.islower()

True

In [30]:
#18 isnumeric() Check if all the characters in the text are numeric
#Exponents, like  and  are also considered to be numeric values.
'345672'.isnumeric()

True

In [31]:
#19 isprintable() method returns True if all the characters are printable, otherwise False
#none printable character can be carriage return and line feed
'my\tname\tis\tlilly'.isprintable()

False

In [32]:
#20 isspace() method returns True if all the characters in a string are whitespaces, otherwise False
' '.isspace()

True

In [33]:
'jack'.isspace()

False

In [34]:
#21 The istitle() method returns True if all words in a text start with a upper case letter
#AND the rest of the word are lower case letters, otherwise False.
'Ruth Ovuike'.istitle()

True

In [35]:
'Jack smith'.istitle()

False

In [36]:
#22 isupper() method returns True if all the characters are in upper case, otherwise False
'RUTH'.isupper()

True

In [37]:
'LilLy'.isupper()

False

In [6]:
#23 The join() method takes all items in an iterable and joins them into one string
a = ','
a.join('acd')

'a,c,d'

In [7]:
a = ''
a.join(('a','c','d'))

'acd'

In [9]:
mytuple = ('d','e','f')
x = ','.join(mytuple)
x

'd,e,f'

In [10]:
x = ('Apple','Pie')
z = ''
z.join(x)

'ApplePie'

In [13]:
#24 The ljust() method will left align the string, using a specified character (space is default) as the fill character.
z = 'Ruth'
z.ljust(30,'!')

'Ruth!!!!!!!!!!!!!!!!!!!!!!!!!!'

In [16]:
z = 'Apple'
x = z.ljust(10,'!')
print(x, 'is my fav fruit')

Apple!!!!! is my fav fruit

In [17]:
#25 lower() method returns a string where all characters are lower case
x = 'RUTH'
x.lower()

'ruth'

In [18]:
'OHHHHH'.lower()

'ohhhhh'

In [27]:
#27 lstrip() method removes any leading characters (space is the default leading character to remove)
x = '           chocolate     '.lstrip()
x

'chocolate     '

In [29]:
x= ',,,,,!!!!!!.....Ruth'.lstrip(',.')
x

'!!!!!!.....Ruth'

In [30]:
x= ',,,,,!!!!!!.....Ruth'.lstrip(',!')
x

'.....Ruth'

In [ ]:
#27 Maketrans() = The maketrans() method returns a mapping table for translation usable for translate() method
# str.maketrans(x(first item you wanna change),y(second itrm you wanna change),z(what you wanna delete)
#28 Translate() = Method returns a string where each character is mapped to its corresponding character in the translation table
# vari.translate.(table)
#29 Replace() = replaces a specified phrase with another specified phrase, string.replace(oldvalue, newvalue, count)

In [35]:
#27 & 28
x = str.maketrans('adf','zco','ghik') # 'ghik' are going to be delete
x

{97: 122, 100: 99, 102: 111, 103: None, 104: None, 105: None, 107: None}

In [36]:
'abcdefghijklmnopkrstuvwxyzabcdefghijklmnopkrstuvwxyzabcdefghijklmnopkrstuvwxyz'.translate(x)

'zbcceojlmnoprstuvwxyzzbcceojlmnoprstuvwxyzzbcceojlmnoprstuvwxyz'

In [37]:
z = str.maketrans({'r':'h','g':'l','i':'o','k':None, 'a':None, 'b':None})
z

{114: 'h', 103: 'l', 105: 'o', 107: None, 97: None, 98: None}

In [38]:
txt = 'Ilove my self and everyone around me'
txt.translate(z)

'Ilove my self nd evehyone hound me'

In [41]:
#29
x = 'abcdefghijklmnopkrstuvwxyzabcdefghijklmnopkrstuvwxyzabcdefghijklmnopkrstuvwxyz'
x.replace('a','b').replace('b','c').replace('c','e')

'eeedefghijklmnopkrstuvwxyzeeedefghijklmnopkrstuvwxyzeeedefghijklmnopkrstuvwxyz'

In [42]:
x.replace('abc','000',2) #include the 2

'000defghijklmnopkrstuvwxyz000defghijklmnopkrstuvwxyzabcdefghijklmnopkrstuvwxyz'

In [43]:
#30 Partition() = method searches for a specified string, and splits the string into a tuple containing three elements
#  first element contains the part before the specified string.
#  second element contains the specified string.
#  third element contains the part after the string.
# string.partition(value)
#31 Split() = splits a string into a list, string.split(separator, maxsplit)
#32 Rpartition() = same thing as partition, however starts from the right
#33 Rsplit() = method splits a string into a list, starting from the right, string.split(separator, maxsplit)
#34 splitlines() = splits a string into a list , the splitting is done at line breaks
#   string.splitlines(keeplinebreaks), line breaks should be included (True), or not (False), default value is (False)

In [44]:
#31
txt = 'first element contains the part before the specified string'
txt.split()

['first',
 'element',
 'contains',
 'the',
 'part',
 'before',
 'the',
 'specified',
 'string']

In [45]:
txt = 'first element contains, the part before the specified string'
txt.split(',')

['first element contains', ' the part before the specified string']

In [47]:
txt = 'first element # contains the # part before # the specified string'
txt.split('#',2)

['first element ', ' contains the ', ' part before # the specified string']

In [48]:
#33 same thing as split(), but just starts from the right
'second element contains the specified string'.rsplit()

['second', 'element', 'contains', 'the', 'specified', 'string']

In [49]:
'second-element-contains-the-specified-string'.rsplit('-',4)

['second-element', 'contains', 'the', 'specified', 'string']

In [51]:
#34
txt = 'first\n element contains\n the part before the specified\nstring'
txt.splitlines(True)

['first\n',
 ' element contains\n',
 ' the part before the specified\n',
 'string']

In [52]:
txt = 'first\n element contains\n the part before the specified\nstring'
txt.splitlines(False)

['first', ' element contains', ' the part before the specified', 'string']

In [53]:
#30 
'second element contains the specified string'.partition('the')

('second element contains ', 'the', ' specified string')

In [54]:
'second element contains the specified string'.partition('second')

('', 'second', ' element contains the specified string')

In [57]:
'second,element,contains,the,specified,string'.partition(',')

('second', ',', 'element,contains,the,specified,string')

In [59]:
#32
'second element contains the specified string'.rpartition('string')

('second element contains the specified ', 'string', '')

In [61]:
'second,element,contains,the,specified,string'.rpartition(',')

('second,element,contains,the,specified', ',', 'string')

In [62]:
#26,38,39
x = 'aaaaaaahelloaaaaaaaahellloaaaaaaaa'
x.lstrip('a')

'helloaaaaaaaahellloaaaaaaaa'

In [63]:
x.rstrip('a')

'aaaaaaahelloaaaaaaaahelllo'

In [64]:
x.strip('a')#it starts from the left and it sees that h wasnt mention and stops and goes to the right and stops when its sees o

'helloaaaaaaaahelllo'

In [65]:
word = '     banna     '
x = word.strip()
f'I love eating {x} and apples!!'

'I love eating banna and apples!!'

In [67]:
word = 'paintinglllllllllll'
x = word.rstrip('l')
print('I love', x, 'and singing!')

I love painting and singing!

In [70]:
#40
'Ruth Is AmaZing!'.swapcase()

'rUTH iS aMAzING!'

In [71]:
#41 string.startswith(value, start, end)
'i am good at drawing'.startswith('I',0,1)

False

In [74]:
#42,43,44
x = 'string.startswith(value, start, end)'.rfind('(')
x

17

In [75]:
x = 'string.startswith(value, start, end)'.rindex('(')
x

17

In [76]:
x = 'bannnnna'
word = x.rjust(20,'e')
word

'eeeeeeeeeeeebannnnna'

In [2]:
def x(words):
    f = {}
    words= ''.join(words.split()) # or words= wors.replace(' ','')
    for i in words:
        x = f.keys()
        if i in x:
            f[i]+=1
        else:
            f[i] =1
    return f
x('i love to swim and draw and dance to the sun comes down')

{'i': 2,
 'l': 1,
 'o': 5,
 'v': 1,
 'e': 4,
 't': 3,
 's': 3,
 'w': 3,
 'm': 2,
 'a': 4,
 'n': 5,
 'd': 5,
 'r': 1,
 'c': 2,
 'h': 1,
 'u': 1}

In [2]:
                                   #List
# A list is a collection which is ordered and changeable. In Python lists are written with square brackets
#   There are four collection data types in the Python programming language:
'''
*List is a collection which is ordered and changeable. Allows duplicate members.
*Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
*Set is a collection which is unordered and unindexed. No duplicate members.
*Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

When choosing a collection type, it is useful to understand the properties of that type. 
Choosing the right type for a particular data set could mean retention of meaning, 
it could mean an increase in efficiency or security.
'''

In [3]:
# The del keyword removes the specified index
c= [1,'ruth','apples',20]
del c[1]
c

[1, 'apples', 20]

In [5]:
# To change the value of a specific item, refer to the index number
c[-1]='Happy Birthday'
c

[1, 'apples', 'Happy Birthday']

In [6]:
# Make a copy of a list with the list() method 
new = list(c)
new

[1, 'apples', 'Happy Birthday']

In [7]:
c[0]=8
new

[1, 'apples', 'Happy Birthday']

In [9]:
# It is also possible to use the list() constructor to make a new list
new2=list(('Ruth','Amazing',20))
new2

['Ruth', 'Amazing', 20]

In [31]:
# join two list
k,l,m=[1,2,3,4,5],[6,7,8,9],k+l
#m= k+l
print(k,l,m)

[1, 2, 3, 4, 5] [6, 7, 8, 9] [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
# replace some values
k[:2]=[9,8]
k

[9, 8, 3, 4, 5]

In [33]:
#remove
k[:2]=[]
k

[3, 4, 5]

In [34]:
# clear the list by replacing all the elements with an empty list
k[:]=[]
k

[]

In [43]:
# nest lists (create lists containing other lists)
k,l,m=[1,2,3,4],[5,6,7,8],[k,l]
print(m)

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [44]:
m[0]

[1, 2, 3, 4]

In [45]:
m[1]

[5, 6, 7, 8]

In [46]:
#Fibonacci series 
a,b= 0, 1
while a<100:
    print(a)
    a,b = b, b+a

0
1
1
2
3
5
8
13
21
34
55
89

In [47]:
#Much better
def fib(n):
    a,b=0,1
    while a<n:
        print(a)
        a,b = b,b+a
fib(200)

0
1
1
2
3
5
8
13
21
34
55
89
144

In [1]:
                                         # List Methods
#append() = Adds an element at the end of the list
#clear() = Removes all the elements from the list
#copy() = Returns a copy of the list
#count() = Returns the number of elements with the specified value
#extend() = Add the elements of a list (or any iterable), to the end of the current list
#index() = Returns the index of the first element with the specified value
#insert() = Adds an element at the specified position
#pop() = Removes the element at the specified position
#remove() = Removes the item with the specified value
#reverse() = Reverses the order of the list
#sort() = Sorts the list

In [4]:
#list comprehensions
g = ['garry','George','ruth','mary']
f= [i for i in g if i[0].lower()=='g']
f

['garry', 'George']

In [6]:
d = [('Citizen Kane',1941),('Spirited Away',2001),('Its a Wonderful Life',1946),('Rear Windwo',1954)]
f = [ x[0] for x in d if x[1]<2000]
f

['Citizen Kane', 'Its a Wonderful Life', 'Rear Windwo']

In [7]:
v = [2,-3,1]
m = [g*4 for g in v]
m

[8, -12, 4]

In [8]:
#list comprehensions
a = ['1','3']
b = ['x','y']
con = [(p,c)for p in a for c in b]
con

[('1', 'x'), ('1', 'y'), ('3', 'x'), ('3', 'y')]

In [12]:
#nested list comprehensions
d = [[1,2,3],[4,5,6],[7,8,9]]
for i in d:
    for x in i:
        print(x)

1
2
3
4
5
6
7
8
9

In [23]:
f = [[print(h) for h in k]for k in d]# this unfolds
f

1
2
3
4
5
6
7
8
9

[[None, None, None], [None, None, None], [None, None, None]]

In [39]:
w= [[ k for k in range(4)] for c in range(4)]# this creates
w                       #this creates the duplication

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]

In [25]:
p = [[ 'X'if x%2 !=0 else'O' for x in range(4)]for i in range(4)]
p

[['O', 'X', 'O', 'X'],
 ['O', 'X', 'O', 'X'],
 ['O', 'X', 'O', 'X'],
 ['O', 'X', 'O', 'X']]

In [31]:
l= [[['*']]*5 for i in range(5)]
l

[[['*'], ['*'], ['*'], ['*'], ['*']],
 [['*'], ['*'], ['*'], ['*'], ['*']],
 [['*'], ['*'], ['*'], ['*'], ['*']],
 [['*'], ['*'], ['*'], ['*'], ['*']],
 [['*'], ['*'], ['*'], ['*'], ['*']]]

In [30]:
g = [[['*'] for b in range(5)]for i in range(5)]
g

[[['*'], ['*'], ['*'], ['*'], ['*']],
 [['*'], ['*'], ['*'], ['*'], ['*']],
 [['*'], ['*'], ['*'], ['*'], ['*']],
 [['*'], ['*'], ['*'], ['*'], ['*']],
 [['*'], ['*'], ['*'], ['*'], ['*']]]

In [45]:
# Dict comprehsions
dic = {x:x for x in range(5)}
dic

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4}

In [46]:
dic1 = {x:x*3 for x in range(5)}
dic1

{0: 0, 1: 3, 2: 6, 3: 9, 4: 12}

In [48]:
names = ['booby','ruth','micheal']
f = {i:i.upper() for i in names}
f

{'booby': 'BOOBY', 'ruth': 'RUTH', 'micheal': 'MICHEAL'}

In [54]:
word = 'abcdefghijklmnopabcdefghijlkmnopqrstvuxxyzqwnhjfngeruhjfsaaaaajtglktjgkrtjsrktjhsrj'
dictt = {x:word.count(x) for x in word}
dictt

{'a': 7,
 'b': 2,
 'c': 2,
 'd': 2,
 'e': 3,
 'f': 4,
 'g': 5,
 'h': 5,
 'i': 2,
 'j': 9,
 'k': 5,
 'l': 3,
 'm': 2,
 'n': 4,
 'o': 2,
 'p': 2,
 'q': 2,
 'r': 5,
 's': 4,
 't': 5,
 'v': 1,
 'u': 2,
 'x': 2,
 'y': 1,
 'z': 1,
 'w': 1}

In [55]:
# frequency counter
def w(v):
    dictt2 = {c:v.count(c) for c in v}
    return dictt2
w('abcdefghijklmnopabcdefghijlkmnopqrstvuxxyzqwnhjfngeruhjfsaaaaajtglktjgkrtjsrktjhsrj')

{'a': 7,
 'b': 2,
 'c': 2,
 'd': 2,
 'e': 3,
 'f': 4,
 'g': 5,
 'h': 5,
 'i': 2,
 'j': 9,
 'k': 5,
 'l': 3,
 'm': 2,
 'n': 4,
 'o': 2,
 'p': 2,
 'q': 2,
 'r': 5,
 's': 4,
 't': 5,
 'v': 1,
 'u': 2,
 'x': 2,
 'y': 1,
 'z': 1,
 'w': 1}

In [3]:
# forget this
num = [1,2,3,4,5,6,7,8,9,10]
listnum = [x for x in num if x%2 == 0]
listnum

[2, 4, 6, 8, 10]

In [9]:
# zip function 
d = ['Mat','Bob','Andrew']
g = ['Apple','MS','Dell']
p = dict(zip(d,g))
p

{'Mat': 'Apple', 'Bob': 'MS', 'Andrew': 'Dell'}

In [12]:
k = list(zip(d,g))
k

[('Mat', 'Apple'), ('Bob', 'MS'), ('Andrew', 'Dell')]

In [14]:
for i in k:
    print(i)

('Mat', 'Apple')
('Bob', 'MS')
('Andrew', 'Dell')

In [15]:
for c,d in k:
    print(c,d)

Mat Apple
Bob MS
Andrew Dell

In [35]:
dir(__builtin__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [49]:
d1,d2 = {'Ruth':'Ovuike','Lagos':'Twenty'},{'John':'Smith','Paris':'Thirty-nine'}
for (k1,k2),(v1,v2) in zip(d1.items(),d2.items()):
    print(k1,v1,k2,v2)

Ruth John Ovuike Smith
Lagos Paris Twenty Thirty-nine

In [40]:
g = [(1,'a'),(2,'b'),(3,'c')]
g = list(zip(*g))
g

[(1, 2, 3), ('a', 'b', 'c')]

In [41]:
#You can also use sorted() and zip() together to achieve a similar result:
c,v = [6,7,5,3,4],['b','e','a','c']
new = sorted(list(zip(c,v)))
new

[(3, 'c'), (5, 'a'), (6, 'b'), (7, 'e')]

In [42]:
new2 = sorted(list(zip(v,c)))
new2

[('a', 5), ('b', 6), ('c', 3), ('e', 7)]

In [153]:
for k,l in zip(c,v):
    print({k:l})

{'M': 'b'}
{'a': 'e'}
{'r': 'a'}
{'c': 'c'}

In [94]:
total_sales = {'Jan':52000.00, 'Feb':51000.00, 'March':48000.00}
cost = {'Jan':46800.00, 'Feb':45900.00, 'March':43200.00}
for (a,b),(c,d) in zip(total_sales.items(),cost.items()):
    print( f'{a} profit:{b-d}')

Jan profit:5200.0
Feb profit:5100.0
March profit:4800.0

In [102]:
fields,values = ['name', 'last_name', 'age', 'job'] , ['John', 'Doe', '45', 'Python Developer']
g = {t:p for t, p in zip(fields,values)}
g

{'name': 'John', 'last_name': 'Doe', 'age': '45', 'job': 'Python Developer'}

In [96]:
#Or
g = dict(zip(fields,values))
g

{'name': 'John', 'last_name': 'Doe', 'age': '45', 'job': 'Python Developer'}

In [99]:
l =[ print(f'{k} profit: {v-l}') for (k,v), (m,l) in zip(total_sales.items(),cost.items())]

Jan profit: 5200.0
Feb profit: 5100.0
March profit: 4800.0

In [104]:
k,d=['job'],['Swimmer']
g.update(zip(k,d))
g

{'name': 'John', 'last_name': 'Doe', 'age': '45', 'job': 'Swimmer'}

In [106]:
t,u=['age'],['56']
g.update(zip(t,u))
g

{'name': 'John', 'last_name': 'Doe', 'age': '56', 'job': 'Swimmer'}

In [109]:
r,o=['John'],['title']
g.update(zip(r,o))
g

{'name': 'John',
 'last_name': 'Doe',
 'age': '56',
 'job': 'Swimmer',
 'title': 'John',
 'John': 'title'}

In [157]:
l =[ print(f'{k} profit: {v-l}')  for (k,v), (m,l) in zip(total_sales.items(),cost.items()) if (v-l)>5000]

Jan profit: 5200.0
Feb profit: 5100.0

In [149]:
fruit,price,amount = ['Apples','Bananas','Grapes','Oranges'],[1.89,6.98,5.11,7.98],[6,9,14,23]
[print(f'I bought {y} {x} for {z:$>5}. ')for x,y,z in zip(fruit,amount,price)]

I bought 6 Apples for $1.89.
I bought 9 Bananas for $6.98.
I bought 14 Grapes for $5.11.
I bought 23 Oranges for $7.98.

[None, None, None, None]

In [144]:
#practice
f'{(1.89):$>5}'

'$1.89'

In [156]:
names,hero = ['Bruce','Peter','Wade','Logan','Clark'],['Bataman','Spiderman','Woverine','Deadpool','Superman']
{k:v for k,v in zip(names,hero) if k != 'Peter'}

{'Bruce': 'Bataman',
 'Wade': 'Woverine',
 'Logan': 'Deadpool',
 'Clark': 'Superman'}

In [161]:
#Something lil
v = {'a':1, 'b':3,'c':2}
g = sorted(v.items(),key = lambda x: x[1])
g

[('a', 1), ('c', 2), ('b', 3)]

In [163]:
c = [2,4,5,3,1]
c= sorted(c)
c

[1, 2, 3, 4, 5]

In [176]:
# Dict comprehensions
tall_buildings = {
    'burj khalifa':              828,
    'shanghai tower':            632,
    'abraj al-bait clock tower': 601,
    'ping an finance centre':    599,
    'lotte world tower':         554
}

r = { k.capitalize():v*3.28048 for k,v in tall_buildings.items() if 'tower' in k}
r

{'Shanghai tower': 2073.26336,
 'Abraj al-bait clock tower': 1971.56848,
 'Lotte world tower': 1817.38592}

In [177]:
tall_buildings.keys()

dict_keys(['burj khalifa', 'shanghai tower', 'abraj al-bait clock tower', 'ping an finance centre', 'lotte world tower'])

In [178]:
tall_buildings.values()

dict_values([828, 632, 601, 599, 554])

In [179]:
tall_buildings.items()

dict_items([('burj khalifa', 828), ('shanghai tower', 632), ('abraj al-bait clock tower', 601), ('ping an finance centre', 599), ('lotte world tower', 554)])

In [1]:
#math
total_temp = {'t1':-30,'t2':-20,'t3':-10,'t4':0}
{k:((5/9)* (v-32))for k,v in total_temp.items()}

{'t1': -34.44444444444444,
 't2': -28.88888888888889,
 't3': -23.333333333333336,
 't4': -17.77777777777778}

In [2]:
# if statement
dict1 = {'a':1,'b':2,'c':3,'d':4,'e':5}
{x:y for x,y in dict1.items() if y>2}

{'c': 3, 'd': 4, 'e': 5}

In [3]:
# multiple if statements
dict1 = {'a':1,'b':2,'c':3,'d':4,'e':5}
{x:y for x,y in dict1.items() if y>2 and y%2 == 0} # you can use if twice

{'d': 4}

In [5]:
dict1 = {'a':1,'b':2,'c':3,'d':4,'e':5,'f':6}
{x:y for x,y in dict1.items() if y>2 if y%2 == 0 if y%3 ==0}

{'f': 6}

In [10]:
# else statements
dict1 = {'a':1,'b':2,'c':3,'d':4,'e':5,'f':6}
{a:(f'{b} Even'if b%2 == 0 else f'{b} Odd')for a,b in dict1.items()}

{'a': '1 Odd',
 'b': '2 Even',
 'c': '3 Odd',
 'd': '4 Even',
 'e': '5 Odd',
 'f': '6 Even'}

In [12]:
# Nested Dict
nested_dict = {'First':{'a':1}, 'Second': {'b':2}}
{k:{b*3 for a,b in v.items()} for k,v in nested_dict.items()}

{'First': {3}, 'Second': {6}}

In [14]:
#nested_dict2 = {{2:3}:{4:5}, {6:7}:{8:9}}
#{{a*100: b*100 for a,b in k.items()}:{x*100: y*100 for x,y in v.items()}for k,v in nested_dict2.items()}

In [53]:
email_dict={'New ID': 
    {'Fwd: RES': ['3', ' ', '4', ' ', '5'], 
    'RES CON': ['2', ' ', '1', '2'], 
    'RES EXP': [], 
    'RES SOLD': ['6', ' ', '1', '3']}
}

{k:{x:[i for i in v[x] if i != ' '] for x in v} for k,v in email_dict.items()}

{'New ID': {'Fwd: RES': ['3', '4', '5'],
  'RES CON': ['2', '1', '2'],
  'RES EXP': [],
  'RES SOLD': ['6', '1', '3']}}

In [46]:
y = ['1',' ','2']
y1 = ''
for i in y:
    if i == ' ':continue
    else:y1+=i
y1 = list(y1)
y1

['1', '2']

In [2]:
#alternative to zip
c,b = {'a':1, 'b':2,'c':3},{'d':4,'c':5,'d':6}
#{k:v for k,v in {**c,**b}.items()}
{**c,**b}

{'a': 1, 'b': 2, 'c': 5, 'd': 6}

In [80]:
#loop thorugh two or more dict keys and value indivusally
c,b = {'a':1, 'b':2,'c':3},{'d':4,'e':5,'f':6}
[print(k,v) for k,v in {**c,**b}.items()]

a 1
b 2
c 3
d 4
e 5
f 6

[None, None, None, None, None, None]

In [96]:
#turning two dict into a list
c,b = {'a':1, 'b':2,'c':3},{'d':4,'e':5,'f':6}
k = [k for k,v in {**c,**b}.items()]
v = [v for k,v in {**c,**b}.items()]
print(k ,v)

['a', 'b', 'c', 'd', 'e', 'f'] [1, 2, 3, 4, 5, 6]

In [9]:
#yield method
t = ['abc',range(6)]
for i in t:
    for x in i:
        print(x)

a
b
c
0
1
2
3
4
5

In [15]:
x= [(yield from i) for i in t]
print(list(x))

['a', 'b', 'c', 0, 1, 2, 3, 4, 5]

In [82]:
#how to know if something is fib, (5*(n*n)-or+4)is a perfect sqaure
no = [1,2,3,4,5]
[i for i in no if i%2 if (5*(i*i)+4)**.5 in range(100) or(5*(i*i)-4)**.5 in range(100) ]

[1, 3, 5]

In [83]:
# set comprehensions
p = range(101)
prime = {i for i in p if i%2 or i/2==1 if i!=21 }
fib= {i for i in p if (5*(i*i)+4)**.5 in range(100) or(5*(i*i)-4)**.5 in range(1000)}
s = prime&fib
s

{1, 2, 3, 5, 13, 89}

In [79]:
#set comprehensions
{i for i in [1,5,2,3,4,5,4,1,2]}

{1, 2, 3, 4, 5}

In [86]:
{i for i in [1,5,2,3,4,5,4,1,2] if i%2}

{1, 3, 5}

In [89]:
# nested sets
sen = 'The cat in the hat had two sidekicks, thing one and thing two.'
words= sen.lower().replace(',','').replace('.','').split()
vowels = ['a','e','i','o','u']
consonants = {frozenset({letter for letter in word if letter not in vowels}) for word in words}
consonants

{frozenset({'d', 'n'}),
 frozenset({'c', 'd', 'k', 's'}),
 frozenset({'g', 'h', 'n', 't'}),
 frozenset({'t', 'w'}),
 frozenset({'d', 'h'}),
 frozenset({'h', 't'}),
 frozenset({'c', 't'}),
 frozenset({'n'})}

In [102]:
#Generators
def squared(x):
    for i in x:
        yield i*i
g = squared([1,2,3,4,5,6])
# alternative to next
for y in g:
    print(y)

1
4
9
16
25
36

In [91]:
next(g)

4

In [93]:
next(g)

9

In [94]:
next(g)

16

In [95]:
next(g)

25

In [97]:
next(g)

36

In [108]:
# Generator expression
sqaured = (x for x in [1,2,3,4,5,6,7])
#for y in sqaured:
  #  print(y)
print(list(sqaured))

[1, 2, 3, 4, 5, 6, 7]

In [113]:
def prime(i):
    return all(i%x for x in range(2,i))
prime(9)

False

In [117]:
# Learn something new for a brief sec
# Understanding the underscore of python

#There are 5 cases for using the underscore in Python.

#1 For storing the value of last expression in interpreter.
#2 For ignoring the specific values. (so-called I dont care)
#3 To give special meanings and functions to name of vartiables or functions.
#4 To use as Internationalization(i18n) or Localization(l10n) functions.
#5 To separate the digits of number literal value.

In [118]:
#1
30

30

In [119]:
_

30

In [120]:
_*2

60

In [121]:
_*10

600

In [123]:
# 2 ignoring a value when unpackaging
x,y,z = [1,2,3]
x

1

In [124]:
y

2

In [125]:
z

3

In [126]:
#ignoring 22 by storing it in _
a,_,b = [12,22,45]
a

12

In [127]:
b

45

In [128]:
_

22

In [131]:
# Ignore the multiple values, storing the rest in *_ It is called "Extended Unpacking"
c,*_,d = [1,2,3,4,5,6,7,8,9,10]
c

1

In [132]:
d

10

In [133]:
_

[2, 3, 4, 5, 6, 7, 8, 9]

In [182]:
import itertools
def fib(y):
    f = {i for i in y if (5*(i*i)+4)**.5 in range(10000) or(5*(i*i)-4)**.5 in range(10000)}
    return f

def prime(x):
    p = {i for i in x if i%2 or i/2==1 if i!=21 }
    return p

def primfib():
    for i in itertools.count():
        if  fib(i) and prime(i):
            yield i

In [191]:
def print_first(g, n=5):
        for i,_ in zip(g,range(n)):
            print(i)

In [1]:
# generator expression can be turned into list or set, no dict
page = 'I still think it\'s a poor choice of an examplein the documentation'
set(i for line in page for i in line.split())

{"'",
 'I',
 'a',
 'c',
 'd',
 'e',
 'f',
 'h',
 'i',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u',
 'x'}

In [2]:
list(i for line in page for i in line.split())

['I',
 's',
 't',
 'i',
 'l',
 'l',
 't',
 'h',
 'i',
 'n',
 'k',
 'i',
 't',
 "'",
 's',
 'a',
 'p',
 'o',
 'o',
 'r',
 'c',
 'h',
 'o',
 'i',
 'c',
 'e',
 'o',
 'f',
 'a',
 'n',
 'e',
 'x',
 'a',
 'm',
 'p',
 'l',
 'e',
 'i',
 'n',
 't',
 'h',
 'e',
 'd',
 'o',
 'c',
 'u',
 'm',
 'e',
 'n',
 't',
 'a',
 't',
 'i',
 'o',
 'n']

In [3]:
{i:page.count(i) for line in page for i in line.split()}

{'I': 1,
 's': 2,
 't': 6,
 'i': 6,
 'l': 3,
 'h': 3,
 'n': 5,
 'k': 1,
 "'": 1,
 'a': 4,
 'p': 2,
 'o': 6,
 'r': 1,
 'c': 3,
 'e': 5,
 'f': 1,
 'x': 1,
 'm': 2,
 'd': 1,
 'u': 1}

In [4]:
#List Methods
#Python has a set of built-in methods that you can use on lists.

#Method   :  Description
#append() = Adds an element at the end of the list
#clear() = Removes all the elements from the list
#copy() = Returns a copy of the list
#count() = Returns the number of elements with the specified value
#extend() = Add the elements of a list (or any iterable), to the end of the current list
#index() = Returns the index of the first element with the specified value
#insert() = Adds an element at the specified position
#pop() = Removes the element at the specified position
#remove() = Removes the item with the specified value
#reverse() = Reverses the order of the list
#sort() = Sorts the list

In [8]:
# append()
c = [1,2,3,4]
c.append(5)
c

[1, 2, 3, 4, 5]

In [6]:
d = [10,11,12,13,14]
e = [15,16,17,18]
d.append(e)
d

[10, 11, 12, 13, 14, [15, 16, 17, 18]]

In [48]:
x = ['apple','grapes','john']
a = ['i did it']
a[len(a):]=[x]
#a[0:]=[x] very interesting,append snytax
a

['i did it', ['apple', 'grapes', 'john']]

In [37]:
c[len(c):]=[e,len(e)]# as much as you want
c

[1, 2, 3, 4, 5, [15, 16, 17, 18], 4]

In [38]:
# extend
d = ['apple','orange','banana']
p = (1,2,3,4,5)
d.extend(p)
d

['apple', 'orange', 'banana', 1, 2, 3, 4, 5]

In [49]:
# f[len(f):] = [c] vs f[len(f):] = c 
f = ['abe','smart','tall','cs']
c = ('dancing','singing','painting')
f[len(f):] = c #joins everything together in one list
f

['abe', 'smart', 'tall', 'cs', 'dancing', 'singing', 'painting']

In [51]:
f = ['abe','smart','tall','cs']
f[len(f):] = [c] #joins everything togrther however leaving c as a tuple 
f

['abe', 'smart', 'tall', 'cs', ('dancing', 'singing', 'painting')]

In [64]:
#insert, num.insert(len(num),anything) == num.append(anything)
num = [1,2,3,4,5,6]
num.insert(4,0)
num

[1, 2, 3, 4, 0, 5, 6]

In [65]:
anything = '1,2,3,4,5'
num.insert(len(num),anything)
num

[1, 2, 3, 4, 0, 5, 6, '1,2,3,4,5']

In [66]:
#remove
num.remove(num[-1])
num

[1, 2, 3, 4, 0, 5, 6]

In [67]:
#pop default valur is -1
num.pop()
num

[1, 2, 3, 4, 0, 5]

In [68]:
num.pop(2)
num

[1, 2, 4, 0, 5]

In [69]:
# clear equivalent to del a[:]
a = [1,2,3,4,5]
a.clear()
a

[]

In [71]:
a = [6,7,8,9]
del a[:]
a

[]

In [72]:
#index
num.index(5)

4

In [73]:
#count
d = [3,3,4,5,6,7]
d.count(3)

2

In [75]:
#reverse
d.reverse()
d

[3, 3, 4, 5, 6, 7]

In [76]:
# copy equivalent to a[:]
x = d.copy() #when d changes x is not effected
x

[3, 3, 4, 5, 6, 7]

In [77]:
d[0] = 2
d

[2, 3, 4, 5, 6, 7]

In [78]:
x

[3, 3, 4, 5, 6, 7]

In [79]:
a = [1,2,3,4]
d = a[:] # when a changes d is not effect
d

[1, 2, 3, 4]

In [80]:
a[0] = 0
a

[0, 2, 3, 4]

In [81]:
d

[1, 2, 3, 4]

In [82]:
# sort()
# reverse = Optional. reverse=True will sort the list descending. Default is reverse=False
# key = Optional. A function to specify the sorting criteria(s)

In [89]:
cars = ['Ford', 'BMW', 'Volvo']
cars.sort(reverse = True)
cars

['Volvo', 'Ford', 'BMW']

In [110]:
cars.sort(key = lambda x: x[2])
cars

['BMW', 'Volvo', 'Ford']

In [102]:
cars.sort(key= lambda x :len(x))
cars

['BMW', 'Ford', 'Volvo']

In [103]:
cars1 = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

In [105]:
cars1.sort(reverse=True, key=lambda x:x['year'])
cars1

[{'car': 'BMW', 'year': 2019},
 {'car': 'VW', 'year': 2011},
 {'car': 'Ford', 'year': 2005},
 {'car': 'Mitsubishi', 'year': 2000}]

In [107]:
cars1.sort(key=lambda x:x['year'])
cars1

[{'car': 'Mitsubishi', 'year': 2000},
 {'car': 'Ford', 'year': 2005},
 {'car': 'VW', 'year': 2011},
 {'car': 'BMW', 'year': 2019}]

In [111]:
cars1.sort(key=lambda x:x['car'])
cars1

[{'car': 'BMW', 'year': 2019},
 {'car': 'Ford', 'year': 2005},
 {'car': 'Mitsubishi', 'year': 2000},
 {'car': 'VW', 'year': 2011}]

In [113]:
cars1.sort(key = lambda x: x['year']<2010)
cars1

[{'car': 'BMW', 'year': 2019},
 {'car': 'VW', 'year': 2011},
 {'car': 'Ford', 'year': 2005},
 {'car': 'Mitsubishi', 'year': 2000}]

In [ ]:
f = [1,2,3,4] #=[4,1,2,3]
#[4,1,2,3]
for i,k in enumerate(f):
    f.insert((k-1),i)
print(f)

In [ ]:
1+2