In [240]:
                   #Strings, 30 for less importance 66 for more importance

#Three quotes:1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30
#Chck if the pharse: 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30
#Excape char = \':1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
#              \\:1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
#              \n:1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
#              \r:1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
#              \t:1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
#              \b:1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
#              r':1,2,3,4,5,6,7,done
                           #f'string vs format() vs %s string 
               # :< =1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
               # :> =1,2,3,4,5,6,7,8,9
               # :^ =1,2,3,4,5,6,7,8,9
#padding       # := =1,2,3,4,5,6,7,8,9
          # :+ & :- =1,2,3,4,5,6,7,8,9
          # :_ & :, =1,2,3,4,5,6,7,8,9
               # :f =1,2,3,4,5,6,7,8,9
               # :% =1,2,3,4,5,6,7,8,9

                         #Placeholder
               # 1,2,3,4,5
                        #unpackag
               # 1,2,3,4,5
                        # repr & !r
               # 1,2,3,4,5
                        # For loop
               # 1,2,3,4,5
                        #f'pi'
               # 1,2,3,4,5
                        #table
                # 1,done
                        #rounding
                # 1,2,3,4,5,
                        #functions and f-string
                #1,done
                        #All 44 Methods 
                    #1 capitalize() = 1,2,3,4,5,6,7,8,9,10
                    #2 casefold() = 1,2,3,4,5,6,7,8,9,10
                    #3 center() = 1,2,3,4,5,6,7,8,9,10
                    #4 count() = 1,2,3,4,5,6,7,8,9,10
        #5 endswith() & startswith()= 1,2,3,4,5,6,7,8,9,10
                    #5 expandtabs()= 1,2,3,4,5,6,7,8,9,10
        #6 find() & rfind()=1,2,3,4,5,6,7,8,9,10
       #8 index() & rindex()=1,2,3,4,5,6,7,8,9,10
                    #10 format_map()=Done
#11 isalnum() & isalpha() & isnumeric() =1,2,3,4,5,6,7,8,9,10
#12 isdigit() & isdecimal() = 1,2,3,4,5,6,7,8,9,10
#13 islower() & isupper() & istitle() =1,2,3,4,5,6,7,8,9,10
#14 isspace & isidentifier() & isprintable()=1,2,3,4,5,6,7,8,9,10
#15 lower() & upper() & title() = 1,2,3,4,5,6,7,8,9,10
     #16 ljust() & rjust() =1,2,3,4,5,6,7,8,9,10
     #17 strip() & lstrip() & rstrip() = 1,2,3,4,5,6,7,8,9,10
     #18 rsplit() & splitlines() & split() =1,2,3,4,5,6,7,8,9,10
     #19 maketrans() & transalate() = 1,2,3,4,5,6,7,8,9,10
     #20 partition() & rpartition() =1,2,3,4,5,6,7,8,9,10
     #21 join()=done
     #22 zfill()=done
     #23 swapcase()=done
     #24 replace()=1,done
                                 # Practise problems 22
        #8 Write a Python function that takes a list of words and returns the length of the longest one  = 
          #1,2,3,4,5
        #2 Write a Python program to count the number of characters (character frequency) in a string =
         # DONE
        #11 Write a Python program to remove the characters which have odd index values of a given string
         # DONE
        #13 Write a Python script that takes input from the user and displays that input back in upper and lower cases.
         # DONE
        #16 Write a Python function to insert a string in the middle of a string.
         #1,2,3,4,5
        #19
        #20 Write a Python function to reverses a string if it's length is a multiple of 4
        # DONE
        #21 Write a Python function to convert a given string to all uppercase if it contains at least 2 uppercase,
        #   characters in the first 4 characters.DONE
        #44 Write a Python program to print the index of the character in a string
        # DONE
        #43
        #49 Write a Python program to count and display the vowels of a given text
        # DONE
        #51  Write a Python program to find the first non-repeating character in given string
        # DONE
        #53 Write a Python program to find the first repeated character in a given string
        # 
        #55 Write a Python program to find the first repeated word in a given string
        # DONE
        #56 Write a Python program to find the second most repeated word in a given string
        #DONE 
        #59 Write a Python program to find the maximum occurring character in a given string
        #1,2,3 DONE
        #58 Write a Python program to move spaces to the front of a given string
        #Done
        #64 Write a Python program to find maximum length of consecutive 0â€™s in a given binary string.
        #1,2,3,4,5
    #70Write a Python program to create a string from two given strings concatenating uncommon characters of the said strings.
        #DONE
        #79  Write a Python program to find smallest and largest word in a given string
        #DONE
        
                                 # List
        # del:1,2,3,4,5
        # chnage the value:1,2,3,4,5
        # Make a copy of a list:1,2,3,4,5
        # join/nested list:1,2,3,4,5
        # #Fibonacci series: 
        
                               #11 Methods
        # Append:1,2,3,4,5,6,7,8,9,0
        # Extend:
        #**********DONE********

In [105]:
y = 'rrrrrrr'
('r'*7)in y

True

In [52]:
num = (1/7 * 74)
c = f'1\\7 multiply by 74: {num}'
print(c)

1\7 multiply by 74: 10.571428571428571

In [187]:
f'I hate having chocolate apples in the {"snow":*<12}'

'I hate having chocolate apples in the snow********'

In [1]:
def lastfirst(word):
    if len(word)==len('e'):
        a = f'Empty string must have more than one character!: {word} '
        print(a)
    newword = ''
    newword+=word[:2]
    newword+=word[-2:]
    print(newword)
lastfirst('w3w3')

w3w3

In [4]:
def lf(word):
    if len(word) == 2:
         return f'Empty string must have more than two characters!: {word}'
    return word[:2]+word[-2:]
lf('to')

'Empty string must have more than two characters!: to'

In [44]:
c = 'i love {num:=88}'.format
c(num=-67)

'i love -                                                                                     67'

In [60]:
txt = 'The temp is between {num1:-} and {num2:+}'
txt.format(num1 = -99, num2 = 44)

'The temp is between -99 and +44'

In [80]:
f'i want {120338:,}'

'i want 120,338'

In [112]:
txt = '23 divided by 100 is: {:f}'
txt.format(23/100)

'23 divided by 100 is: 0.230000'

In [83]:
txt = '23 divided 7 is exactly: {:.3f}'
txt.format(23/7)

'23 divided 7 is exactly: 3.286'

In [130]:
f'{22/100:%}'

'22.000000%'

In [135]:
txt = 'the percenatge of 22 divideby 57 is: {:.4%}'
cal = 22/57
txt.format(cal)

'the percenatge of 22 divideby 57 is: 38.5965%'

In [159]:
info = {'fname':'Jack','lname':'Smith','Age':22}
"His name is {}".format(info['fname'].upper())

'His name is JACK'

In [173]:
t = 'YESSSS!!!'
f'she said :{t!r}'

"she said :'YESSSS!!!'"

In [34]:

c = '89 divide by 3 is: {:.2f}'.format
c(89/3)

'89 divide by 3 is: 29.67'

In [50]:
info = [
    ['Jaden','Smith',34, "5'10",'brown'],
    ['Ruby','Johnson',56,"5'6",'Purple'],
    ['Alex','Blacksmith',23,"6'3",'White'],
    ['Mary','Ovuike',44,"5'5",'Black']
]
c = '| {x:6} | {z:10} | {c:2} | {b:4} | {n:6} |'.format
for i in info:
    print(c(x = i[0], z = i[1],c=  i[2], b = i[3], n =i[4]))

| Jaden  | Smith      | 34 | 5'10 | brown  |
| Ruby   | Johnson    | 56 | 5'6  | Purple |
| Alex   | Blacksmith | 23 | 6'3  | White  |
| Mary   | Ovuike     | 44 | 5'5  | Black  |

In [61]:
num = 8976.89487
per =3
f'{num:.{per}f}'

'8976.895'

In [63]:
def add(num):
    return num+num
'567 plus it self is: {}'.format(add(567))

'567 plus it self is: 1134'

In [67]:
def add(word):
    counter = 0
    for i in word:
        counter+= 1
    return f'Your word {word!r} has {counter} words'
add('Chocolate')

"Your word 'Chocolate' has 9 words"

In [85]:
x = 'ruth'
f'{x.capitalize()}'

'Ruth'

In [107]:
f'RUTH'.casefold()

'ruth'

In [108]:
'RUTH'.format().casefold()

'ruth'

In [125]:
'apple'.center(12,'l').capitalize()

'Lllapplellll'

In [139]:
'ruthovuikeezinne'.count('e',3,6)

0

In [154]:
word = 'mygod'
word.startswith('M')

False

In [169]:
'love\tyou'.expandtabs(33)

'love                             you'

In [217]:
'sam'.index('a')

1

In [221]:
def info(a,b,c,d):
    x = {'fname':a, 'lname':b, 'age':c, 'height':d}
    return 'Your name is {fname} {lname} and you are {age} years old and your height is {height}'.format_map(x)
info('Ruth','Ovuike',20,"5'6")

"Your name is Ruth Ovuike and you are 20 years old and your height is 5'6"

In [224]:
'Ruth'.isalpha()

True

In [228]:
'2/4'.isalnum()

False

In [234]:
'4c'.isnumeric()

False

In [243]:
'90'.isdigit()

True

In [255]:
num = '4442'*2
num.isdigit()
num

'44424442'

In [266]:
'Is Upper'.istitle()

True

In [282]:
'pear'.title()

'Pear'

In [292]:
'ruth\rovuike'.isprintable()

False

In [295]:
'ruth 20'.isidentifier()

False

In [329]:
'ruth'.rjust(23,'4')

'4444444444444444444ruth'

In [326]:
x = '#####ruth#####ruth'
x.lstrip('#').rstrip('#')

'ruth#####ruth'

In [346]:
x = 'second element contains, the, specified, string'
x.rsplit(',',2)

['second element contains, the', ' specified', ' string']

In [353]:
v = 'second\nelement\ncontains\nthe\nspecified\nstring'
v.splitlines()

['second', 'element', 'contains', 'the', 'specified', 'string']

In [368]:
'second element contains, the, specified, string'.rpartition('string')

('second element contains, the, specified, ', 'string', '')

In [367]:
'second element contains, the, specified, string'.partition(',')

('second element contains', ',', ' the, specified, string')

In [391]:
c = 'abcdefghijklmnopkrstuvwxyzabcdefghijklmnopkrstuvwxyzabcdefghijklmnopkrstuvwxyz'
r = str.maketrans('abcdef','123456')
c.translate(r)

'123456ghijklmnopkrstuvwxyz123456ghijklmnopkrstuvwxyz123456ghijklmnopkrstuvwxyz'

In [401]:
c = 'abcdefghijklmnopkrstuvwxyzabcdefghijklmnopkrstuvwxyzabcdefghijklmnopkrstuvwxyz'
c.replace('abcde','bcdef',2)

'bcdeffghijklmnopkrstuvwxyzbcdeffghijklmnopkrstuvwxyzabcdefghijklmnopkrstuvwxyz'

In [397]:
c = 'abcdefghijklmnopkrstuvwxyzabcdefghijklmnopkrstuvwxyzabcdefghijklmnopkrstuvwxyz'
c.replace('a','b').replace('b','c').replace('c','d').replace('d','e').replace('e','f')

'ffffffghijklmnopkrstuvwxyzffffffghijklmnopkrstuvwxyzffffffghijklmnopkrstuvwxyz'

In [404]:
a =','
a.join('a''b''c')

'a,b,c'

In [406]:
a= ','
a.join('abc')

'a,b,c'

In [18]:
#8
def long(h):
    l = []
    for i in h:
        l.append((len(i),i))
    l = sorted(l)
    return l[-1][1]
long(['David','Daniel'])

'Daniel'

In [19]:
#2
def frequency(d):
    f = {}
    for i in d:
        if i in f:f[i]+=1
        else:f[i] = 1
    return f
frequency('goodle.com')

{'g': 1, 'o': 3, 'd': 1, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [22]:
#11
def odd(l):
    k = ''
    for i in l:
        if (l.find(i)) %2 == 0:k+=i
    return k
odd('abcdef')

'ace'

In [26]:
#13
words = input('Please enter a word:')
print('This is the word you enetered: '+words.lower()+'\n'+'This is the word you enetered: '+words.upper())

Please enter a word:ruth love apple dog cat
This is the word you enetered: ruth love apple dog cat
This is the word you enetered: RUTH LOVE APPLE DOG CAT

In [38]:
#16
def tags(l,m):
    return f'{l[:2]}{m}{l[2:]}'
tags('(())','Ruth')

'((Ruth))'

In [39]:
#20
def four(m):
    if len(m) %4 == 0:return m[::-1]
    return f'Not muliple of four!'
four('Ruth')

'htuR'

In [45]:
#21
def upper(p):
    counter = 0
    for i in p[:4]:
        if i.isupper() == True:counter+=1
    if counter == 2:p=p.upper() 
    return p
upper('ChOcolate')

'CHOCOLATE'

In [47]:
#44
def iindex(h):
    for i,x in enumerate(h):
        print(i,x)
iindex('Ruth')

0 R
1 u
2 t
3 h

In [173]:
#49
def vowels(l):
    counter,word = 0,''
    for i in l:
        if i in 'aeiou':
            counter+=1 
            word+=i
    return counter,word
vowels('apple')

(2, 'ae')

In [59]:
#49
def vowels1(l):
    print(len([i for i in l if i in 'aeiou']))
    print([x for x in l if x in 'aeiou'])
vowels1('apple')

2
['a', 'e']

In [77]:
#51
def frst(l):
    f = {}
    for i in l:
        if i in f:f[i]+=1
        else:f[i]=1
    for i in f:
        if f[i]==1:
            return f'First non-repeating letter: {i}'
            break
frst('abcabcbfgh')

'First non-repeating letter: f'

In [78]:
#52
def frst1(l):
    f = {}
    for i in l:
        if i in f:f[i]+=1
        else:f[i]=1
    for i in f:
        if f[i]==2:
            return f'First repeated letter: {i}'
            break
frst1('abcabcbfgh')

'First repeated letter: a'

In [80]:
#55
def word1(l):
    l = l.split()
    for x,y in enumerate(l):
        if l[:x+1].count(y)>1:
            return f'The first repeated word: {y}'
word1('I like apples and used apples to make a pie ')

'The first repeated word: apples'

In [174]:
#56
def word2(h):
    h,r = h.split(),[]
    for x,y in enumerate(h):
        if h[:x+1].count(y) == 2:
            r.append(y)
    return f'The second most repeated word: {r[1]}'
word2('I love eating apples and I love drawing')

'The second most repeated word: love'

In [93]:
#brain storm
e = [1,2,3,4]
e[1:4:2]

[2, 4]

In [113]:
#59
def maxx(h):
    k = {}
    for i in h:
        if i in k:k[i]+=1
        else: k[i]=1
    k = sorted(k.items(), key = lambda x:x[1])
    return k[-1]
maxx('ruthhh')

('h', 3)

In [136]:
#58
def space(k):
    counter = 0
    for i in k:
        if i.isspace() == True:counter+=1
    k = k.replace(' ','')
    return' '*counter + k
space('r u t          h')

'            ruth'

In [118]:
#brainstorm
l= 'r u t h '
counter = 0
for i in l:
    if i.isspace()== True:counter+=1
counter

4

In [151]:
#64
def zero(o):
    return max(map(len,o.split('1')))
zero('110000110000000')

7

In [143]:
#Brainstorm
c = '11000011100000001111'
c=c.split('1')
c

['', '', '0000', '', '', '0000000', '', '', '', '']

In [145]:
#Brainstorm
b= max(map(len,c))
b

7

In [163]:
#70
def common(d,f):
    counter = ''
    for i in d:
        if (i in f) == False:counter+=i
    for x in f:
        if (x in d) == False:counter+=x
    return counter
common('abcdpqr','xyzabcd')

'pqrxyz'

In [176]:
#Brainstorm
c,d= 'abds','abce'
for i in c:
    if (i in d) == False:
        print(i)

d
s

In [175]:
#79
def long(k):
    l,k = [],k.split()
    for i in k:l.append((len(i),i))
    l = sorted(l)
    return f'Smallest word:{l[0]} Longest word:{l[-1]}'
long('Write a Java program to sort an array of given integers using Quick sort Algorithm')

"Smallest word:(1, 'a') Longest word:(9, 'Algorithm')"

In [187]:
#Del
h = ['Ruth','Ovuike','Pretty']
del h[0]
h

['Ovuike', 'Pretty']

In [196]:
# change the value
c = [1,2,3,4,5,6,7,8,9,10]
c[5:6] = ['Ruth']
c

[1, 2, 3, 4, 5, 'Ruth', 7, 8, 9, 10]

In [203]:
#copy a list
b = [1,2,3,4,5,6]
newg = list(b)
newg

[1, 2, 3, 4, 5, 6]

In [227]:
#join/nested
g,t,y=[2,3,4,5,6],[7,8,9,10],g+t
print(g,t,y)

[2, 3, 4, 5, 6] [7, 8, 9, 10] [2, 3, 4, 5, 6, 7, 8, 9, 10]

In [231]:
#Fibonacci series:
def fib(p):
    a,b = 0,1
    while a<p:
        print(a)
        a,b = b, a+b
fib(110)

0
1
1
2
3
5
8
13
21
34
55
89

In [10]:
#append 
d = [{'ruth':20},{'okay':12}]
d.append({'ovuike':1972})
d

[{'ruth': 20}, {'okay': 12}, {'ovuike': 1972}]

In [16]:
g = [(1,2),(3,4),(5,6)]
h = [(1*2),(3*4),(5*6)]
h[len(h):]=[g]
h

[2, 12, 30, [(1, 2), (3, 4), (5, 6)]]